<%= form_for @sale, :html => { :class => 'form-horizontal' } do |f| %>
<% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div id="datosClient">
  <fieldset>
  <legend>Datos del cliente</legend>
    <%= f.text_field :client_id %>

    <%= fields_for @sale.client do |c| %>
      <%= c.hidden_field :id %>
      <%#= c.text_field :nombre, :placeholder => "Nombre del cliente" %>
      <%= c.autocomplete_field :nombre, autocomplete_client_nombre_clients_path, :placeholder => "Nombre del cliente", :multiple => false, :update_elements => {:direccion => '#client_direccion', :telefono => '#client_telefono', :email => "#client_email"} %>
      <%= c.text_field :direccion, :placeholder => "Domicilio" %>
      <%= c.text_field :email, :placeholder => "Email del cliente" %>
      <%= c.text_field :telefono, :placeholder => "Teléfono del cliente" %>
    <% end %>
  </fieldset>
</div>

<div id="detallesVentaContainer">
    <div id="agregarProductoContainer">
    <input type="text" name="clavelibro" id="clavelibro" placeholder="Clave del libro a agregar"/>
    <input type="number" name="cantidadlibro" id="cantidadlibro" placeholder="Cantidad" value="1">
</div>

    <%# Crear la tabla donde agregaremos los productos %>
  <table id="detallesVentaTable" cellspacing="0">
    <thead>
      <th>Clave</th>
      <th>Descripción</th>
      <th>P. Unidad</th>
      <th>Cantidad</th>
      <th>Importe</th>
  </thead>
    <tbody>
      <% @sale.saleDetails.each do |item| %>
        <%= f.fields_for :saleDetails, item do |d| %>
          <tr>
            <td><%= d.text_field :product_id, :class =>"idLibroVender" %></td>
            <td><input type="text" value="<%= item.product.nombre %>"></td>
            <td><%= d.text_field :preciounitario %></td>
            <td><%= d.text_field :cantidad, :class =>"cantidadVender" %></td>
            <td><%= d.text_field :importe, :class =>"importeProducto" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <th colspan="2">Total de artículos:</th>
      <th id="totalArts">0</th>
      <th>Importe total:</th>
      <th id="importeTotalVenta">0</th>
    </tfoot>
  </table>
</div>

<div class="form-actions">
    <%#= f.submit nil, :class => 'btn btn-primary' %>
    <button name="guardarVenta" id="guardarVenta" type="button" class="btn btn-primary">Registrar venta</button>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), sales_path, :class => 'btn' %>
  </div>

<% end %>
